#hello-btn {
    color: black;
    background-color: aquamarine;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif\;
}