.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    margin-left: 55px;
    max-width: 700px;
    margin-top: 155px;
    
    
}

.subtitle {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 0px;
}

.title {
    font-weight: 600;
    font-size: 55px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.introtext {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
    padding-left: 0px;
}

.right{
    display: flex;
    margin-right: 30px;
   
    
}

.main-graphic {
    width: 600px;
    
    margin-top: 70px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.view-price-button, .buy-now-button-2 {
    border: none;
    background-color: blue;
    font-weight: 500;
    color: white;
    padding: 10px 14px;
    border-radius: 30px;
    font-family: Poppins;
    cursor: pointer;
    transition: 0.15ms;
   
}

.buy-now-button-2 {
    margin-left: 15px;
}

.view-price-button:hover, .buy-now-button-2:hover {
    opacity: 0.8;

}