.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    margin-left: 30px;
    
}

.right{
    display: flex;
    margin-right: 30px;
}

.main-graphic {
    width: 500px;
}